@charset "utf-8";
/* skip navigation */
#skip a{position: absolute;top: 0;left: -9999px;z-index: 1000;}
#skip a:focus{left: 0;background: #fcb95e;color: #3b3b3b;width: 100%;height: 50px;line-height: 50px;text-align: center;color: #000;font-size: 18px;font-weight: 500;}

/* tag reset */
body, h3, h4, h5, h6, p{padding: 0; margin: 0;}
h3, h4, h5, h6{font-size: 100%;}
section, article{display: block;}
img{border: none; vertical-align: top;}
button{border: none; background: none;}

/* common stlye */
.underline::after{content:""; margin-left: 20px; width: 60px; height: 2px; background: #949494; display: inline-block;}
.tit_wrap{padding: 5vw 15vw 5vw 15vw;}
.tit_wrap h3{font-size: 30px; padding-bottom: 10px; color: #949494; font-family: Mapo; font-style: italic;}
.tit_wrap h4{font-size: 50px; font-family: Eulyoo;}
.txt_wrap p:first-child{font-family: Eulyoo; font-size: 30px; font-weight: 700; font-style: italic;}
.txt_wrap h5{font-size: 30px; font-family: Mapo; padding-top: 10px;}
.txt_wrap p:nth-of-type(2){font-size: 16px; line-height: 25px; padding-top: 20px;}
.slide_txt{width: 287px;}


body{font-family: Spoqa; color: #3b3b3b; word-break: keep-all;}

/* #story */
#story{position: relative; background: url("../images/brand/section1_bg.jpg") no-repeat center; background-size: cover; width: 100%; height: 100vh;}
#story .story_wrap{position: absolute; top: 25%; left: 15%; color: #fcf8f1;}
#story .story_wrap h3{font-size: 60px; font-style: italic; }
#story .story_wrap h3::after{background: #fcf8f1; width: 8s0px;}
#story .story_wrap p:first-of-type{padding: 16px 0 25px; font-size: 30px;}
#story .story_wrap p:nth-of-type(2){font-size: 20px; line-height: 36px; letter-spacing: -1px; color: #fff; text-shadow: 3px -2px 10px #3b3b3b;}
 
/* history */
#history{box-sizing: border-box; width: 100%;}
#historyAtc1 p{padding-top: 36px;}
#historyAtc2{text-align: right; justify-content: flex-end; align-items: flex-start; padding-right: 400px; margin-top: -80px;} 
#historyAtc2 img{margin-top: -80px;}
#historyAtc2 strong{font-size: 25px; line-height: 36px; font-family: Mapo; padding: 4vw 4vw;}
.img_wrap{justify-content: flex-start; align-items: center; padding: 5vw 17vw 5vw 17vw;}
.txt_wrap .underline::after{background: #3b3b3b;}
#historyAtc3 img{margin: -300px 0 20px;}
#historyAtc4 img{margin: -100px 20px 0px 70px;}
#historyAtc5{padding: 10vw 15vw 10vw 15vw; font-size: 25px; line-height: 36px; font-family: Mapo;}

#history img, #wisdom img{box-shadow: 3px 2px 25px #3b3b3b80;}


#ingredient{background: url("../images/brand/section3_bg.jpg") no-repeat center; background-size: cover; height: 100vh;}
#ingredient .swiper-container{width: 1200px;}
.swiper-slide{position: relative; background: #fcf8f1; width: 287px; height: 400px;}
.swiper-slide img{position: absolute; top: 5%; left: 0;}
.swiper-slide .slide_txt{position: absolute; top: 50%; width: 287px; box-sizing: border-box; padding: 0 24px;}
.swiper-slide .slide_txt h3{font-size: 20px; padding-bottom: 15px;}
.swiper-slide .slide_txt p{font-size: 16px; line-height: 30px;}

#ingredient .controller{width: auto; height: 30px; color: #3b3b3b;}
#ingredient .controller div::after{display: none;}
#ingredient .swiper-button-prev, .swiper-button-next{color: #3b3b3b; font-size: 25px; font-family: Eulyoo; font-style: italic; font-weight: 600;}
#ingredient .swiper-button-prev{top: -130px; left: 1100px; padding-left: 60px; background: url("../images/brand/section3_prev_arrow.png") no-repeat left 50%;}
#ingredient .swiper-button-next{top: -130px; left: 1350px; padding-right: 60px; background: url("../images/brand/section3_next_arrow.png") no-repeat right 50%;}
#ingredient .swiper-button-next::before{content: ""; display: block; background: #3b3b3b; width: 3px; height: 100%; position: absolute; top: 0;left: -80px; transform: rotate(45deg); pointer-events: none;}


#wisdom{height: 1400px;}
#wisdom .wisdomAtc{display: table; margin: 0 10vw;}
.wisdomAtc img{max-width: 480vw;}
.wisdomAtc img, .wisdomAtc div{display: table-cell;}
.wisdomAtc div h5{font-family: "Mapo"; font-size: 30px; padding-bottom: 20px;}
.wisdomAtc div p{font-family: Spoqa; font-size: 18px; line-height: 36px;}
#wisdomAtc1{display: table; margin: 0 150px;}
#wisdomAtc1 div, #wisdomAtc3 div{vertical-align: middle; padding-left: 63px; box-sizing: border-box;}
#wisdomAtc2{padding-left: 150px;}
#wisdomAtc2 img{margin: -40px auto 0; float:right;position: relative; z-index: 5;}
#wisdomAtc2 div{float: left;  margin: 100px 30px 30px; text-align: right;}
#wisdomAtc3 img{margin-top: -30px; position: relative; z-index: 7;}
#wisdomAtc3{padding-bottom: 50px;}


#fp-nav.fp-left{left: 6vw;}
#fp-nav ul::before{content: ""; position: absolute; top: 10px; left: 0px; display: inline-block; width: 2px; height: 200px; background: #cfcdc8;}
#fp-nav ul li:last-child{width: 1px; height: 1px; overflow: hidden; position: absolute; border: none; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%);}
#fp-nav ul li + li{padding-top: 45px;}
#fp-nav ul li a span{height: 9px;width: 9px;border: 0;background:#cfcdc8;margin: -4.5px 0 0 -17px;}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, #fp-nav ul li:hover a span{height: 9px; width: 9px; margin: -4.5px 0 0 -17px;}
#fp-nav ul li a.active span::after, #fp-nav ul li:hover a.active span::after, #fp-nav ul li:hover a span::after{content:""; display: inline-block; position: absolute; top: 0;left: 0;height: 20px; width: 20px; border: 2.5px solid #f57e3c; margin: -8px 0 0 -8px; background: transparent; border-radius: 50%;}
#fp-nav ul li .fp-tooltip{top: -5px; width: 130px;height: 40px; color: transparent; background: no-repeat left top; opacity: 1;}

#fp-nav ul li:nth-child(1) .fp-tooltip{background-image: url("../images/brand/Tooltip_BrandStory.png");}
#fp-nav ul li:nth-child(2) .fp-tooltip{background-image: url("../images/brand/Tooltip_Ginseng.png");}
#fp-nav ul li:nth-child(3) .fp-tooltip{background-image: url("../images/brand/Tooltip_ingredient.png");}
#fp-nav ul li:nth-child(4) .fp-tooltip{background-image: url("../images/brand/Tooltip_Wisdom.png");}