/* #header */
#header{position: fixed;z-index: 100;top: 0;left: 0;width: 100%;height: 532px;background: url("../../images/header/bg.png") no-repeat left top;pointer-events: none;}
#header .logo{position: absolute;left: 47px;top: 35px;pointer-events: auto;}
#header .gnb_open{position: absolute;left: 50px;top: 125px;background: url("../../images/header/navigation.png") no-repeat center;width: 42px;height: 32px;pointer-events: auto;}
#header .util{position: absolute;top: 24px;right: 42px;width: 210px;height: 35px;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;justify-content: space-between;align-items: center;pointer-events: auto;}
#header .util .lang{font-family: mapo;font-size: 25px;line-height: 35;font-weight: bold;}
#header .util .search_input{position: absolute;bottom: -40px;right: 0;width: 100%;height: 40px;border-bottom: 1px solid #3b3b3b;line-height: 40px;}
#header .util .search_input input{border: none;background: transparent;font-size: 16px;}
#header .util .search_input button{position: absolute;right: 0;top: 10px;}


